@using ClienteApi.Models;
@model IEnumerable<ClienteApi.Models.LoansTypeInterestViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (ViewBag.exito == "" | ViewBag.exito == null)
{

}
else
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <span class="aria-hidden">@Html.ViewBag.exito</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

}
@if (ViewBag.error == "" | ViewBag.error == null)
{

}
else
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span class="aria-hidden">@Html.ViewBag.error</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

}

<div class="card-body card shadow mb-4">
    <style>
        .table-title {
            padding-bottom: 15px;
            background: #007BFF;
            color: #fff;
            padding: 16px 30px;
            min-width: 100%;
            margin: -20px -25px 10px;
            border-radius: 3px 3px 0 0;
        }

            .table-title h2 {
                margin: 5px 0 0;
                font-size: 24px;
            }

            .table-title .btn-group {
                float: right;
            }

            .table-title .btn {
                float: right;
                font-size: 13px;
                border: none;
                min-width: 50px;
                border-radius: 2px;
                border: none;
                outline: none !important;
                margin-left: 10px;
            }
    </style>

    <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <h2>Tipos de Interes</h2>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-dark btn-lg" asp-action="Create">Crear un Nuevo Interes</a>
            </div>
        </div>
    </div>

    <div class="table-responsive table-hover">
        <table id="loanTable" class="table table-avance table-striped" cellspacing="0" width="100%">
            <thead class="table-primaryk">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IdloansTypeInterest)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdloansType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdCurrencies)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InteresRate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.YearTime)
                    </th>
                    <th>
                        Opciones
                    </th>
                </tr>
            </thead>
            <tbody class=" ">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdloansTypeInterest)
                        </td>
                        <td>
                            @foreach (LoanTypeViewModel loanType in ViewBag.Loanstype)
                            {
                                if (item.IdloansType == loanType.IdloansType) 
                                {
                                    @Html.DisplayFor(modelItem => loanType.LoansTypeName)
                                }
                            }
                        </td>
                        <td>
                            @foreach (CurrencyViewModel currency in ViewBag.Currency)
                            {
                                if (item.IdCurrencies == currency.IdCurrencies) 
                                {
                                    @Html.DisplayFor(modelItem => currency.CurrencyName)
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InteresRate) %
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.YearTime) Años
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new {  id=item.IdloansTypeInterest }, new { @class = "btn btn-primary " })
                            @Html.ActionLink("Detalles", "Details", new {  id=item.IdloansTypeInterest}, new { @class = "btn btn-success " })
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        
    </div>

</div>
