
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (ViewBag.exito == "" | ViewBag.exito == null)
{

}
else
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <span class="aria-hidden">@Html.ViewBag.exito</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

}
@if (ViewBag.error == "" | ViewBag.error == null)
{

}
else
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span class="aria-hidden">@Html.ViewBag.error</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

}

<div class="container-fluid">

    <div class="card-body">
        <div class="row">

            @if (ViewBag.Dasboard != null)
            {
                <div class="col-12 col-lg-6 mt-3 col-xl">

                    <div class="card bg-primary text-white">

                        <div class="card-body">
                            <div class="row align-items-center gx-0">

                                <div class="col">

                                    <h6 class="text-uppercase mb-2">Total de Clientes  </h6>
                                    <span class="h2 mb-0">@ViewBag.Dasboard.totalCustomers </span>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-12 col-lg-6 mt-3 col-xl">

                    <div class="card bg-info  text-white">

                        <div class="card-body">
                            <div class="row align-items-center gx-0">

                                <div class="col">

                                    <h6 class="text-uppercase  mb-2">Total de Creditos  </h6>
                                    <span class="h2 mb-0">@ViewBag.Dasboard.totalLoans </span>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-12 col-lg-6 mt-3  col-xl">

                    <div class="card">

                        <div class="card-body">
                            <div class="row align-items-center gx-0">

                                <div class="col">

                                    <h6 class="text-uppercase text-muted mb-2">Creditos Activos  </h6>
                                    <span class="h2 mb-0">@ViewBag.Dasboard.activeLoans </span>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-12 col-lg-6 mt-3  col-xl">

                    <div class="card bg-danger  text-white">

                        <div class="card-body">
                            <div class="row align-items-center gx-0">

                                <div class="col">

                                    <h6 class="text-uppercase  mb-2">Creditos Atrasados  </h6>
                                    <span class="h2 mb-0">@ViewBag.Dasboard.delayLoans </span>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>


            }
      
        </div>

        @if (ViewBag.exchangeRate != null) 
        {
            <div class="row">

            

                    <div class="col-12 col-lg-6 mt-3 col-xl">

                        <div class="card bg-success text-white">

                            <div class="card-body">
                                <div class="row align-items-center gx-0">

                                    <div class="col">

                                        <h6 class="text-uppercase mb-2">Venta Dolar </h6>
                                        <span class="h2 mb-0"> ₡ @ViewBag.exchangeRate.venta </span>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-12 col-lg-6 mt-3 col-xl">

                        <div class="card bg-success text-white">

                            <div class="card-body">
                                <div class="row align-items-center gx-0">

                                    <div class="col">

                                        <h6 class="text-uppercase mb-2">Compra  Dolar </h6>
                                        <span class="h2 mb-0"> ₡ @ViewBag.exchangeRate.compra </span>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

            

            </div>

            <div class="row">
                <div class="col-12 col-lg-6 mt-3 col-xl">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Tipo de Cambio Venta Dolares</button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Tipo de Cambio Compra Dolares</button>
                        </div>
                    </nav>
                    <div class="tab-content bg-white" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="card-body">
                               <div class="Row">
                                    <div class="col-md-3 mt-3">
                                        <label class="text-dark">
                                            <strong>
                                                <label>Monto en Colones</label>
                                            </strong>
                                        </label>
                                        <input type="number" name="compra" id="compra"  value="" class="form-control"  />
                                    </div>
                                    <div class="col-md-3 mt-3">
                                        <label class="text-dark">
                                            <strong>
                                                <label>Monto en Dolares</label>
                                            </strong>
                                        </label>
                                        <input value="" name="venta" id="venta" class="form-control" />
                                    </div>
                               </div>                  
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="card-body">
                                <div class="row pt-1">
                                    <div class="col-md-6 mx-auto">
                                        <div class="row bg-light">
                                            <div class="col-12 text-center text-dark py-3">
                                                <h4>De Dolares a Colones </h4>
                                            </div>
                                        </div>
                                        <div class="row bg-light p-3">
                                            <div class="col-6">
                                                <input value="" type="number" name="dol-venta" id="dol-venta" class="form-control" />
                                            </div>
                                            <div class="col-6">
                                                <label name ="dol-compra" id="dol-compra" value="" class="form-control"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                @section Scripts {

                    <script type="text/javascript">
                        var dsell = "@ViewBag.exchangeRate.venta"
                        var dbuy = "@ViewBag.exchangeRate.compra" 

                        document.getElementsByName("compra")[0].addEventListener('change',vender);

                        function vender(){
                            var ndsell = parseFloat(dsell);
                            console.log("ndsell:" ndsell)
                            var dfielsell = parseFloat(document.getElementById("compra").value);
                        if (isNaN(dfielsell)) {
                                document.getElementById("venta").value = "";
                            }else{
                                var finalfield = dfielsell / ndsell;
                                finalfield = finalfield.toFixed(2);
                            document.getElementById("venta").value = "$" + finalfield;
                            }
                        };

                        document.getElementsByName("dol-venta")[0].addEventListener('change', comprar);

                        function comprar(){
                            var ndsell = parseFloat(dbuy);
                            console.log("ndsell:" ndsell)
                            var dfielsell = parseFloat(document.getElementById("dol-venta").value);
                            if (isNaN(dfielsell)) {
                            document.getElementById("dol-compra").value = "";
                            }else{
                                var finalfield ndsell * dfielsell;
                                finalfield = finalfield.toFixed(2);
                                document.getElementById("dol-compra").value = "₡" + finalfield;
                            }
                        };
                    </script>
                }


            </div>
        }
    </div>
</div>


