@using ClienteApi.Models;
@model IEnumerable<ClienteApi.Models.LoanHistoryViewModel>

@{
    ViewData["Title"] = "IndexDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (ViewBag.exito == "" | ViewBag.exito == null)
{

}
else
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <span class="aria-hidden">@Html.ViewBag.exito</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

}
@if (ViewBag.error == "" | ViewBag.error == null)
{

}
else
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span class="aria-hidden">@Html.ViewBag.error</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

}

@{
    LoanViewModel thisLoanInfo = new LoanViewModel();
    String currencySymbol = "";

    if (Model.Count() >= 1) 
    {
        foreach (LoanViewModel loan in ViewBag.Loans)
        {
            if (loan.IdLoan == Model.First().LoadId)
            {
                thisLoanInfo = loan;
            }
        }
    }

    foreach (CurrencyViewModel currency in ViewBag.Currency)
    {
        if (currency.IdCurrencies == thisLoanInfo.IdCurrencies)
        {
            currencySymbol = currency.Symbol;
        }
    }
}

<div class="card-body card shadow mb-4">
    <style>
        .table-title {
            padding-bottom: 15px;
            background: #007BFF;
            color: #fff;
            padding: 16px 30px;
            min-width: 100%;
            margin: -20px -25px 10px;
            border-radius: 3px 3px 0 0;
        }

            .table-title h2 {
                margin: 5px 0 0;
                font-size: 24px;
            }

            .table-title .btn-group {
                float: right;
            }

            .table-title .btn {
                float: right;
                font-size: 13px;
                border: none;
                min-width: 50px;
                border-radius: 2px;
                border: none;
                outline: none !important;
                margin-left: 10px;
            }
    </style>

    <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <h2>Credito #FIDE000-@ViewBag.LoanId</h2>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-dark btn-lg" asp-action="Create">Crear un Pago</a>
            </div>
        </div>
    </div>
    <div class="table-responsive table-hover">
        <table id="TableEmployee" class="table table-avance table-striped " cellspacing="0" width="100%">
            <thead class="table-primaryk">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IdLoansHistory)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LoadId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PayDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentType)
                    </th>
                    <th>
                        Opciones
                    </th>
                </tr>

            </thead>
            <tbody class=" ">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @{
                                int id = item.IdLoansHistory;
                                String thisHistory = item.IdLoansHistory.ToString();
                                String numReferen = "FIDE0000" + @thisLoanInfo.IdLoan + "-00" + thisHistory;
                            }
                            @numReferen
                        </td>
                        <td>
                            @thisLoanInfo.LoansDescription
                            @*Html.DisplayFor(modelItem => item.LoadId)*@
                        </td>
                        <td>
                            @currencySymbol
                            @Html.DisplayFor(modelItem => item.PaymentAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PayDate)
                        </td>
                        <td>
                            @foreach (PaymentTypeViewModel paymentType in ViewBag.PaymentType)
                            {
                                if (paymentType.IdPaymentType == item.PaymentType)
                                {
                                    @Html.DisplayFor(modelItem => paymentType.PaymentTypeName)
                                }
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Editar Pago", "Edit", new {  id=item.IdLoansHistory  } , new { @class = "btn btn-primary " })
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-@item.IdLoansHistory">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal-@item.IdLoansHistory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        <i class="fas fa-exclamation-triangle" style="color:red;"></i>
                                        Advertencia
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Esta Seguro que desea Eliminar el Pago con Numero de Referencia @numReferen ?
                                </div>
                                <div class="modal-footer">

                                    <form asp-action="Delete" asp-route-id="@item.IdLoansHistory" >
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <input type="submit" value="Eliminar" class="btn btn-danger" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                }

            </tbody>

        </table>

    </div>

     <div class="mt-4">
        <a asp-action="Index" asp-controller="Loan">Volver a los Creditos</a>
    </div>


</div>

