@model IEnumerable<ClienteApi.Models.LoanStateViewModel>

@{
    ViewData["Title"] = "Lista de Estado de Préstamos";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (ViewBag.exito == "" | ViewBag.exito == null)
{

}
else
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <span class="aria-hidden">@Html.ViewBag.exito</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

}
@if (ViewBag.error == "" | ViewBag.error == null)
{

}
else
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span class="aria-hidden">@Html.ViewBag.error</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

}

<div class="card-body card shadow mb-4">
    <style>
        .table-title {
            padding-bottom: 15px;
            background: #007BFF;
            color: #fff;
            padding: 16px 30px;
            min-width: 100%;
            margin: -20px -25px 10px;
            border-radius: 3px 3px 0 0;
        }

            .table-title h2 {
                margin: 5px 0 0;
                font-size: 24px;
            }

            .table-title .btn-group {
                float: right;
            }

            .table-title .btn {
                float: right;
                font-size: 13px;
                border: none;
                min-width: 50px;
                border-radius: 2px;
                border: none;
                outline: none !important;
                margin-left: 10px;
            }
    </style>

    <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <h2>Lista Estado de Préstamos</h2>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-dark btn-lg" asp-action="Create">Crear un Estado de Préstamo</a>
            </div>
        </div>
    </div>

    <div class="table-responsive table-hover">
        <table id="TableLoanState" class="table table-avance table-striped " cellspacing="0" width="100%">
            <thead class="table-primaryk">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LoansStatesId)
                    </th>
                    <th>    
                        @Html.DisplayNameFor(model => model.LoansStateName)
                    </th>
                    <th>
                        Opciones
                    </th>
                </tr>
            </thead>    
            <tbody class="">
                @foreach (var item in Model) 
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LoansStatesId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LoansStateName)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id=item.LoansStatesId}, new { @class = "btn btn-primary " })
                            @Html.ActionLink("Detalles", "Details", new { id=item.LoansStatesId }, new { @class = "btn btn-success " })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


